*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f4f4f4;
  height: auto;
}
header{
  width: 100%;
  background-color: white;
  height: 500px;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .logo2{
  display: none;
}
nav .logo1{
  width: 35%;
  padding: 20px 10px 10px 50px;
}
nav .logo1>a{
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  color: #cf7500;
}
nav .logo1>a:hover{
  color: #f0a500;
}
nav .navigation{
  padding: 20px 20px 20px 20px;
}
nav .navigation ul{
  display: flex;
  float: right;
  margin-top: 10px;
  list-style-type: none;
  justify-content: space-between;
}
nav .navigation ul li a{
  justify-content: space-between;
  text-decoration: none;
  font-size: 18px;
  color: #1a1c20;
  padding: 14px 16px;
}
nav .navigation ul li a:hover{
  color: #f0a500;
}
header .download{
  position: absolute;
  overflow: hidden;
  width: 40%;
  border-radius: 10px;
  margin-top: 190px;
  margin-left: 30%;
  background-color: white;
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
header .download .dow-container{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
header .download .dow-container .download-btn{
  width: 60%;
  padding: 5px;
  flex-flow: row;
}
header .download .dow-container .download-btn .download-name{
  text-align: center;
  font-size: 22px;
}
header .download .dow-container .download-btn .btns{
  display: flex;
  margin-top: 10px;
}
header .download .dow-container .download-btn .google,
header .download .dow-container .download-btn .apple{
  display: flex;
  background-color:black;
  margin: 5px;
  padding: 5px;
  width: 500px;
  height: 35px;
  border-radius: 5px;
}
header .download .dow-container .download-btn .google .btn-name,
header .download .dow-container .download-btn .apple .btn-name{
  margin: 0;
  height: 10px;
}
header .download .dow-container .download-btn .google .btn-name .btn-name-get,
header .download .dow-container .download-btn .apple .btn-name .btn-name-on{
  font-size: 10px;
  color: white;
}
header .download .dow-container .download-btn .google .btn-name .btn-name-google,
header .download .dow-container .download-btn .apple .btn-name .btn-name-apple{
  text-decoration: none;
  font-size: 20px;
  color: white;
  line-height: 1px;
}
header .download .dow-container .download-btn .btns .google:hover,
header .download .dow-container .download-btn .btns .apple:hover{
  box-shadow:  7px 7px 14px #dfdede,
  -7px -7px 10px #fffafa;
}
header .download .dow-container .download-btn .download-name{
  padding: 35px 5px 5px 0px;
  line-height:25px;
  color: #1a1c20;
  font-weight: 500;
}
header .download .dow-container .download-btn .google>img,
header .download .dow-container .download-btn .apple>img{
 padding-top: 5px;
 width: 30px;
}
header .download .dow-container .mobile-img{
  padding: 5px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .download .dow-container .mobile-img>img{
  width: 150px;
  height: 250px;
}
