*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f4f4f4;
  height: auto;
}
a{
  text-decoration: none;
}
nav .logo2,
.owl-dots,
.owl-nav .owl-prev{
  display: none;
}
.header{
  background-image: url("../assets/cow05.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size:100% 100vh;
}
/* nav */
.navigation-container{
  height: 64px;
  position: relative;
  z-index: 1;
}
nav{
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: inherit;
}
nav.active{
  background-color: white;
  transition:0.3s linear ;
}
nav .logo1{
  width: 35%;
  padding: 5px 5px 5px 50px;
}
nav .logo1>a{
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  color: #f0a500;
}
nav .logo1>a:hover{
  color: #cf7500;
}
nav .navigation{
  padding: 10px;
  transition: 0.2s;
}
nav .navigation ul{
  display: flex;
  float: right;
  margin-top: 10px;
  list-style-type: none;
  justify-content: space-between;
}
nav .navigation ul li a{
  justify-content: space-between;
  text-decoration: none;
  padding: 12px 12px;

}
nav .navigation ul li a:hover{
  color: #f0a500;
}
.active .navigation ul li .navbar__link{
  color: #1a1c20;
}
.navbar__link {
  margin: 1em;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .15em;
  text-indent: .2em;
  color: white;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

.navbar__link:hover {
  transform: translateY(-2px);
}

.navbar__link--active {
  border-bottom: 2px solid #f0a500;
  color: #f0a500;
  transition: border-bottom .5s ease-in-out;
}
/* footer */
.footer{
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 10px;
}
.f-container{
  width: 100%;
}
.f-container .part1{
  display: flex;
  background-color: ghostwhite;
  padding: 20px;
}
.f-container .part1 .div1,
.f-container .part1 .div2{
  width: 25%;
  flex-flow: row;
}
.f-container .part1 .div1 .heading,
.f-container .part1 .div2 .heading{
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  color: rgb(80, 80, 80);
}
.f-container .part1 .div1 .brand-name{
  padding: 5px;
  color: #cf7500;
  font-size: 25px;
  font-weight: 500;
}
.f-container .part1 .div1 .brand-tag{
  padding:5px ;
  font-size: 15px;
  font-weight: 500; 
  color: rgb(109, 109, 109);
}
.f-container .part1 .div2 .details{
  padding: 5px;
}
.f-container .part1 .div2 .details>h4{
  font-size: 17px;
}
.f-container .part1 .div2 .details>p{
  padding-top: 5px;
  font-size: 14px;
  color: rgb(109, 109, 109);
}
.div3{
  width: 50%;
}
.download{
  overflow: hidden;
  width: 90%;
  margin-right:5% ;
  border-radius: 10px;
  background-color: white;
  box-shadow:  10px 10px 20px #bebebe,
             -20px -20px 20px #ffffff;
}
.download .dow-container{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.download .dow-container .download-btn{
  width: 60%;
  padding: 5px;
  flex-flow: row;
}
.download .dow-container .download-btn .download-name{
  text-align: center;
  font-size: 22px;
}
.download .dow-container .download-btn .btns{
  display: flex;
  margin-top: 10px;
}
.download .dow-container .download-btn a{
  width: 50%;
}
.download .dow-container .download-btn a .google,
.download .dow-container .download-btn a .apple{
  display: flex;
  background-color:black;
  margin: 5px;
  padding: 5px;
  height: 35px;
  border-radius: 5px;
}
.download .dow-container .download-btn a .google .btn-name,
.download .dow-container .download-btn a .apple .btn-name{
  margin: 0;
  height: 10px;
}
.download .dow-container .download-btn a .google .btn-name .btn-name-get,
.download .dow-container .download-btn a .apple .btn-name .btn-name-on{
  font-size: 10px;
  color: white;
}
.download .dow-container .download-btn a .google .btn-name .btn-name-google,
.download .dow-container .download-btn a .apple .btn-name .btn-name-apple{
  text-decoration: none;
  font-size: 20px;
  color: white;
  line-height: 12px;
}
.download .dow-container .download-btn .btns a .google:hover,
.download .dow-container .download-btn .btns a .apple:hover{
  box-shadow:  7px 7px 14px #dfdede,
  -7px -7px 10px #fffafa;
}
.download .dow-container .download-btn .download-name{
  padding: 35px 5px 5px 0px;
  line-height:25px;
  color: #1a1c20;
  font-weight: 500;
}
.download .dow-container .download-btn .google>img,
.download .dow-container .download-btn .apple>img{
 padding-top: 5px;
 width: 30px;
}
.download .dow-container .mobile-img{
  padding: 5px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download .dow-container .mobile-img>img{
  width: 150px;
  height: 250px;
}
.f-container .part2{
  display: flex;
  background-color: rgb(39, 35, 35);
  padding: 20px;
}
.f-container .part2 .division1{
  display: flex;
  width: 50%;
}
.f-container .part2 .division1 .vl{
  margin-top: 5px;
  margin: 5px 7px;
  border-right: 2px solid rgb(186, 179, 179);
  height: 15px;
}
.f-container .part2 .division1 div a{
  color: white;
  text-decoration: none;
}
.f-container .part2 .division2 {
  width: 45%;
}
.f-container .part2 .division2 .copyright{
  padding: 5px;
  float: right;
}
.f-container .part2 .division2 .copyright>h4,
.f-container .part2 .division2 .copyright>h3{
  padding: 1px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: white;
}
.f-container .part2 .division2 .copyright h4>a{
  color: white;
}
/* home */
.home{
  width: 100%;
  height: 100vh;
  position: relative;
 background: inherit;
  overflow: hidden;
  top: 0;
}
.home-container{
  padding: 250px 30px 30px 30px;
}
.home-container .c-name{
  padding: 25px;
}
.home-container .c-name>div{
  font-size:45px;
  color: white;
  font-weight: 700;
  margin-top: 20px;
  text-shadow: 1px 1px 5px rgb(72, 71, 71);
}
.home-container .c-desc{
  padding: 5px 5px 5px 25px;
}
.home-container .c-desc div{
  font-size: 25px;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 5px rgb(72, 71, 71);
}

/* about */
.about{
  overflow: hidden;
  width: 100%;
  background-color: transparent;
}
.about-container{
  margin: 40px;
  padding: 50px;
  width: 60%;
  margin-left: 16%;
  box-shadow:  2px 2px 10px #f2a239,
  -2px -2px 10px #eb9a43;
  background-color: white;
  border-radius: 5px;
}
.ab-name{
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
.ab-para{
  padding: 10px;
}
.ab-para p{
  letter-spacing: 0.5px;
  line-height: 25px;
}

/* services */
.services{
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: transparent;
  z-index: 0;
}
.services-container{
  padding: 10px;
}
.services-container .ser-head{
  text-align: center;
  padding:5px ;
  margin-top: 10px;
}
.services-container .ser-head .ser-name{
  padding:5px ;
}
.services-container .ser-head .ser-name>h3{
  font-size: 30px;
}
.services-container .ser-head .ser-par>p{
  font-size: 15px;
}
.services-container .ser-head .ser-name{
  padding:5px ;
}
.services-container .ser-head .ser-name>h3{
  font-size: 35px;
  color: white;
  letter-spacing: 0.5px;
  padding-bottom: 5px;
}

.services-container .ser-head .ser-par>p{
  font-size: 15px;
}
.services-container .ser-body{
  display: flex;
  width: 100%;
  margin-top: 50px;
}
.services-container .ser-body .ser-card{
  flex-flow: row;
  padding: 10px;
}
.services-container .ser-body .ser-card .ser-icon{
  text-align: center;
}
.services-container .ser-body .ser-card .ser-icon .fa{
  height: 70px;
  width: 70px;
  text-align: center;
  background-color: #f0a500;
  color: white;
  font-size:70px;
  border-radius: 70px;
  padding: 20px;
  transition: 0.5s;
}
.services-container .ser-body .ser-card .ser-icon:hover .fa{
  transform: scale(1.1); 
}
.services-container .ser-body .ser-card .ser-desc{
  text-align: center;
  padding: 20px;
}
.services-container .ser-body .ser-card .ser-desc>h4{
  font-size: 24px;
  padding: 5px;
  color: #ffffff;
  letter-spacing: 0.5px;
}
.services-container .ser-body .ser-card .ser-desc>p{
  font-size: 14px;
  padding: 10px;
  color: wheat;
} 


/* team */
.team{
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: transparent;
  z-index: 0;
}
.team-container{
  padding: 20px;
}
.team-container .t-name{
  padding: 20px;
  text-align: center;
  color: white;
}
.team-container .t-name>div{
  font-size: 30px;
  font-weight: 700;
}
.team-container .team-body{
  display: flex;
  width: 100%;
}
.team-container .team-body .card{
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.team-container .team-body .card .card-img{
  width: 200px;
  height: 200px;
  margin-left: 27%;
  background-color: #f0a500;
  border-radius: 200px;
  overflow: hidden;
}
.team-container .team-body .card .card-img>img{
  width: 170px;
  height: 170px;
  border-radius: 170px;
  padding:15px;
  transition: 0.5s;
}
.team-container .team-body .card .card-img:hover>img{
  transform: scale(1.5); 
}
.team-container .team-body .card .desc{
  padding: 20px;
}
.team-container .team-body .card .desc .f-name{
  font-size: 25px;
  font-weight: 700;
  padding: 5px;
  color: white;
}
.team-container .team-body .card .desc .founder{
  font-size: 15px;
  padding: 10px;
  color: wheat;
}
.team-container .team-body .card .desc .social-media{
  display: flex;
  width: 70%;
  margin-left: 27%;
}
.team-container .team-body .card .desc .social-media>div{
  flex-flow: row;
  margin: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #f0a500;
}
.team-container .team-body .card .desc .social-media div>.fa{
  font-size: 20px;
  color: white;
  padding: 15px;
  transition: 0.5s ;
}
.team-container .team-body .card .desc .social-media div:hover>.fa{
  transform: scale(1.5); 
}

/* contact */
.contact{
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.contact-container{
  padding: 5px;
}
.contact-container .map{
  width: 100%;
  overflow: hidden;
}
.contact-container .map .map-container{
  overflow: hidden;
}
.contact-container .map .map-container>img{
  width: 100%;
  height: 50vh;
}
.contact-container .contact-body{
  position: relative;
  width: 100%;
  bottom:9rem;
}
.contact-container .contact-body .main-container{
  position: absolute;
  background-color: white;
  width: 70%;
  margin-left: 15%;
  display: flex;
  border-radius: 5px;
  box-shadow: 1px 1px 10px gainsboro;
}
.contact-body .main-container .sub-container{
  padding: 10px;
  margin: 10px;
  flex-flow: row;
}
.contact-body .main-container .container-group1{
  border-right: 1px solid gainsboro;
  width: 60%;
}
.contact-body .main-container .sub-container>.contact-head-name{
  font-size: 24px;
  font-weight: 600;
}
.contact-body .main-container .sub-container .sub-container-body{
  position: relative;
}
.contact-body .main-container .sub-container .sub-container-body .c-body{
  width: 100%;
}
.sub-container .sub-container-body .c-body .b-input{
  padding: 1px;
}
.sub-container .sub-container-body .c-body .b-input>.input{
  width: 80%;
  height: 20px;
  padding:10px;
  margin: 10px;
  border-radius: 40px;
  border: 1px solid gainsboro;
}
.sub-container .sub-container-body .c-body .b-input>.input:hover,
.sub-container .sub-container-body .c-body .b-input>.input:focus{
  box-shadow: 1px 1px 10px gainsboro;
}
.sub-container .sub-container-body .c-button{
  padding:10px ;
  margin-top: 10px;
}
.sub-container .sub-container-body .c-button .c-button-container{
  width: 100%;
  text-align: start;
}
.sub-container .sub-container-body .c-button .c-button-container>a{
  text-decoration: none;
  padding: 10px 50px;
  background-color: #f0a500;
  color: white;
  border-radius: 30px;
}
.sub-container .sub-container-body .c-button .c-button-container>a:hover{
  background-color: #cf7500;
  box-shadow: 1px 1px 10px rgb(240, 189, 96);
}
.sub-container .sub-container-body .c-body{
  display: flex;
  padding-top: 10px;
}
.sub-container .sub-container-body .c-body .c-icon{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #f0a500;
  margin: 5px;
  text-align: center;
}
.sub-container .sub-container-body .c-body .c-icon .fa{
  padding: 15px 0px 0px 0px;
  color: white;
}
.sub-container .sub-container-body .c-body .c-desc{
  padding: 5px;
}
.sub-container .sub-container-body .c-body .c-desc h3{
  padding-bottom: 5px;
}
.sub-container .sub-container-body .c-body .c-desc p{
  color: gray;
}

/* login */
.login{
  width: 100%;
  background-image: url("../assets/cow05.jpg");
  background-size: 100% 600px;
  height: 600px;
  background-repeat: no-repeat;
  overflow: hidden;
}
.login-container{
  padding:50px 25px 25px 25px;
}
.login-main{
  width: 35%;
  margin-left: 32.5%;
  background-size: 100% 550px;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgb(253, 157, 83);
  padding: 10px;
  height: 400px;
  overflow: hidden;
}
.login-main .login-name{
  padding: 10px ;
  text-align: center;
  border-bottom: 1px solid rgb(253, 157, 83);
}
.login-main .login-name div{
  font-size: 25px;
  font-weight: 600;
  color: white;
}
.login-main .login-body{
  width: 100%;
}
.login-main .login-body .input-body{
  padding:  60px 10px 60px 15px;
  border-bottom: 1px solid rgb(253, 157, 83);
}
.login-main .login-body .input-body .input{
  width: 90%;
  margin-left:5% ;
  height: 20px;
  margin: 10px;
  padding: 10px;
  outline: none;
  border-radius: 30px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid rgb(250, 151, 98);
  box-shadow: 1px 1px 3px rgb(253, 157, 83);

}
.login-main .login-body .input-body .input:focus,
.login-main .login-body .input-body .input:hover{
  box-shadow: 1px 1px 10px rgb(226, 132, 60);
}
.login-main .login-body .input-body .input::placeholder{
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.login-main .login-body .input-body input[type=email],
.login-main .login-body .input-body input[type=password]{
  color: white;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.login-main .login-body .button{
  padding: 25px 5px 25px 5px;
  display: flex;
}
.login-main .login-body .button .button-container{
  width: 100%;
  text-align: center;
}
.login-main .login-body .button .button-container .login-btn{
  padding: 10px 80px;
  border-radius: 50px;
  background-color: #f0a500;
  color: white;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.login-main .login-body .button .button-container .login-btn:hover{
  background-color: #cf7500;
}


